# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environments
venv/
env/
*.env

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Streamlit settings and secrets
/.streamlit/

# Hugging Face tokens and other sensitive files
*.hf_token
secrets.toml

# IDE and editor-specific files
.vscode/
.idea/

# Log files
*.log

# Dependency directories
pip-log.txt
pip-delete-this-directory.txt

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Other temporary files
*.bak
*.swp
